
<nav class="navbar navbar-expand-lg bg-info navbar-light">
    <div class="container-fluid">
        <!-- Nome da Empresa -->
        <a class="navbar-brand" href="/">CentipedeStore</a>

        <!-- Botão de menu (hamburger) -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links e Barra de Pesquisa -->
        <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
        >
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/produtos">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pedidos">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clientes">Clientes</a>
                </li>
                <!-- Barra de Pesquisa -->
                <li class="nav-item">
                    <form class="d-flex">
                        <input
                            class="form-control me-2"
                            type="search"
                            placeholder="Pesquisar..."
                            aria-label="Pesquisar"
                            id="pesquisa"
                        />
                        <button class="btn btn-light" type="submit">
                            Buscar
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h2 id="titulo" class="text-info">
    <br /><b>Este é painel administrativo CentipedeStore!</b>
</h2>

<div class="bg-info mx-auto mt-5 mb-3" style="height: 3px; width: 90%"></div>
