<%- include('../views/partials/header') %>
<!--  -->
<%- include('../views/partials/navbar') %>

<h2 id="titulo" class="text-info"><br /><b>Este é painel administrativo CentipedeStore!</b></h2>

<div class="bg-info mx-auto my-5" style="height: 3px; width: 90%"></div>

<div class="jumbotron py-4">
    <h4 id="titulo">
        <p class="lead text-info">Navege até a página que deseja analizar.</p>
    </h4>
    <div class="bg-info mx-auto my-5" style="height: 3px; width: 90%"></div>
</div>

<!-- quadro principal -->
<div class="container">
    <div class="card">
        <div class="card-header bg-dark text-light">
            <h1>Para onde deseja ir?</h1>
        </div>
        <div class="card-body">
            <ul>
                <li>
                    <p class="lead">
                        <a
                            class="btn btn-info btn-lg"
                            href="/pedidos"
                            role="button"
                            >Verificar produtos</a
                        >
                    </p>
                </li>
                <li>
                    <p class="lead">
                        <a
                            class="btn btn-info btn-lg"
                            href="/pedidos"
                            role="button"
                            >Verificar pedidos</a
                        >
                    </p>
                </li>
                <li>
                    <p class="lead">
                        <a
                            class="btn btn-info btn-lg"
                            href="/pedidos"
                            role="button"
                            >Verificar clientes</a
                        >
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<%- include('../views/partials/footer') %>
