<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="card shadow-lg p-3 mx-5 bg-white rounded">
        <div class="card-header bg-dark text-light">
            <h1>Registrar</h1>
        </div>
        <div class="card-body">
            <form action="/register/new" method="post">
                <div class="row">
                    <div class="row">
                        <div class="col">
                            <label for="nome"
                                >Nome:*</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Insira um nome de usuario"
                                id="nome"
                                name="nome"
                                required
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-4">
                            <label for="email"
                                >Email:*</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Insira um email"
                                id="email"
                                name="email"
                                required
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-4">
                            <label for="senha">Senha:*</label>
                            <input
                                type="password"
                                class="form-control"
                                placeholder="Insira uma senha"
                                name="senha"
                                id="senha"
                                required
                            />
                        </div>
                    </div>
                </div>
                <p class="text-secondary">
                    *campo obrigatório
                </p>
                <br />
                <div class="row">
                    <div class="col">
                        <button
                    type="submit"
                    class="btn btn-success"
                >
                    Entrar
                </button>
                    </div>
                    <div class="col">
                        <p class="text-secondary">
                            Já tem conta? Então faça o <a href="/login" class="text-success">login</a>.
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
